.parentCont{
    width: 200px;
    border: solid;
    margin: 2% 40%;
    background-color: antiquewhite;
}

.tableContent{
    margin: 7%;
    padding: 5%;
    list-style: none;
    border: none;
    background-color: rgb(210, 232, 225);
    border-radius: 15%;
}

.heading{
    margin-left: 15%;
}
.btn{
    margin: 5% 30%;
}