.parentCont{
    border: solid;
    width: 400px;
    margin: 5% 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: rgb(205, 222, 222);
}