.content{
    border:solid;
    min-width: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 20% 0% 30%;
    padding: 2%;
    background-color: rgb(216, 231, 226);
}

.btn{
    width: 100px;
    margin: 0% 20% 0% 40%;
}