.parentNav{
    display: flex;
    gap: 50px;
    border: 1px solid grey;
    width: 50%;
    margin-left: 25%;
    padding: 1% 20%;
    box-sizing: border-box;
    background-color: rgb(238, 211, 237);
    
}

.Link{
    text-decoration: none;
    border: 1px solid grey;
    background-color: rgb(234, 208, 208);
    padding: 2%;
    border-radius: 10%;
    color: black;
    
}