.Register{
    margin: 10% 20% 0% 30%;
    padding: 5%;
    justify-content: center;
    border: dotted;
    min-width: none;
    max-width: 600px;
    background-color: rgb(163, 161, 158);
    display: flex;
    flex-direction: column;
}