
.parentCont{
    display: flex;
    justify-content: flex-start;
    border: dotted;
    width: 1100px;
    margin: 0% 20% 0% 20%;
    background-color: rgb(210, 206, 216);
}

.img{
    height: 2px;
    width: 2px;
    border: none;
    border-radius: 10px;
}



.content{
    display: flex;
    flex-direction: column;

}
.skillCont{
    display: flex;
    

}

.skills{
    border: solid;
    background-color: violet;
    margin-right: 5%;
    min-width: 200px;
}

.hobbies{
    border: solid;
    background-color: violet;
    margin-right: 5%;
    min-width: 200px;
}

.learning{
    border: solid;
    background-color: violet;
    min-width: 200px;
}